# Ambiente virtual
venv/
.venv/

# Cache Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Arquivos de ambiente
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos temporários
*.tmp
*.temp

# Sistema operacional
.DS_Store
Thumbs.db
